<main class="center" id="main">

  <pb-breadcrumbs></pb-breadcrumbs>

  <div class="page-area">

      <pb-article>
        <h2>Stay on track</h2>
        <slot-two>
          <p>
          Do you know where you are spending your money? If you really stop to track it down,
          you would get surprised! Proper budget management depends on real data... and this app will help you with that!
          </p>
        </slot-two>
      </pb-article>

      <pb-article>
        <h2>Alerts</h2>
        <slot-two>
          <p>What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.</p>
        </slot-two>
      </pb-article>

      <pb-article>
        <!-- This is an A11y Change-->
        <h2>Results</h2>
        <slot-two>
          <p>
            People who stick to a financial plan, budgeting every expense, get out of debt faster!
            Also, they to live happier lives... since they expend without guilt or fear...
            because they know it is all good and accounted for. hello tgus us ut
          </p>
        </slot-two>
      </pb-article>

      <pb-article>

          <!-- This is an A11y Change-->
          <h2>Free</h2>
          <slot-two>
            <p>This app is free!!! And you are the only one holding your data!</p>
          </slot-two>
        </pb-article>

      <pb-article>

          <!-- This is an A11y Change-->
          <h2>Stay on track</h2>
          <slot-two>
            <p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
            </p>
          </slot-two>
        </pb-article>

      <pb-article>

          <!-- This is an A11y Change-->
          <h2>Alerts</h2>
          <slot-two>
              <p>What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.</p>
          </slot-two>
        </pb-article>

      <pb-article>

          <!-- This is an A11y Change-->
          <h2>Results</h2>
          <slot-two>
              <p>
                People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
              </p>
          </slot-two>
        </pb-article>

      <article>

          <!-- This is an A11y Change-->
          <h2>Free</h2>
          <canvas id="myChart" width="400" height="400" ></canvas>

      </article>

  </div>

</main>
