a {
  text-decoration: inherit;
  color: inherit;
}

div {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  background-color: #b4c6f0;
  text-align: center;
  margin: 2%;
}

h2 {
  color: #4d5791;
  font-family: inherit;
}
